//app
$default: #5276f0;
// $defalutBg: #e4ecf6;
$defalutBg: #F5F5F5;
$black: #2e3956;

// title
$title-bg: #7aaae6;

$border-color-lighter: #DDDDDD;
$border-color-base : #95969a;
$default-font: 14px;
$white: #fff;

// font
$font-size-base: $default-font;
$font-size-small: 12px;
$font-size-large: 18px;
$font-size-better: 16px;

// color 
$color-primary: #0D72DA;
$color-danger: #C51316;
$color-success: #039815;
$color-warning: #FA7602;

//main
$main-padding: 0;
//pagination
$pagination-button-height: 38px;
$pagination-font-size: 14px;
//header
$headerHeight: 50px;
$headerShadow: #000133;
//footer
// $footerHeight: 40px;
$footerHeight: 0px;
//sidebar

$menuBg: #242A2E;

$subMenuBg:#1f2d3d;
$menuHover:#4b97ff;


// button
$btn-green: #029286;
$btn-purple: #866df5;
$btn-blue: #4592D5;
$btn-warning: #E73F06;
