#app {
  // min-height: 100%;
  height: auto;

  .is-component {
    height: 100%;
    overflow-y: hidden;

    .headerWrapper {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1500;

      .container {
        padding: 0 20px;
        height: 100%;
      }
    }
  }
}

.headerWrapper {
  height: $headerHeight;
}

.header {
  height: $headerHeight;
  background-color: $menuBg;
  // background:linear-gradient(90deg,rgba(5,131,192,1) 0%,rgba(182,163,167,1) 100%);
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  line-height: $headerHeight;
  z-index: 100;
  position: relative;

  // box-shadow: 0 7px 4px rgba($headerShadow, 0.3);
  h1 {
    margin: 0;
    float: left;
    font-weight: normal;

    a {
      display: block;
      text-decoration: none;
      display: block;
    }
  }

  .nav {
    &-logo {
      vertical-align: middle;
      width: 35px;
      height: 35px;
    }

    float: right;
    height: 100%;
    line-height:$headerHeight;
    background: transparent;
    padding: 0;
    margin: 0;

    &:after,
    &:before {
      display: table;
      content: "";
    }

    &-item {
      height: inherit;
      margin: 0;
      float: left;
      list-style: none;
      position: relative;
      cursor: pointer;
      padding: 0 15px;

      .text {
        margin-left: 10px;
      }
    }

    .loginOut {
      margin-left: 50px;
    }
  }
}
